.container {
    height: 100%;
}

.title {
    text-align: center;
    font-size: 90%;
    color: rgb(92, 94, 110);
    height: 30px;
}

.btn {
    width: 40%;
    text-align: center;
    color: #fff;
    background-color: rgb(27, 134, 249);
    box-shadow: 0 0 20px rgb(27, 134, 249);
    transition: all 0.3s linear;
    border-radius: 10px;
    margin-left: 30%;
    padding: 10px 0;
}

.btn:hover {
    transform: scale(1.1);
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
}

.buttons > div {
    width: 80px;
    padding: 10px;
    border: none;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.1s linear;
}

.buttons > div:nth-child(1) {
    justify-self: end;
    background-color: rgb(27, 134, 249);
    box-shadow: 0 0 20px rgb(27, 134, 249);
}

.buttons > div:nth-child(2) {
    justify-self: start;
    background-color: rgb(131, 164, 198);
    box-shadow: 0 0 20px rgb(131, 164, 198);
}


.buttons > div:active {
    transform: translate(3px, 3px);
}

.tube-params-container {
    height: calc(30% - 10px);
    background-color: rgb(21, 23, 40);
    overflow: auto;
}

.tube-params-wrap {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 15px;
    padding: 15px 0;
}

.fins-params-container {
    margin-top: 10px;
    height: calc(30% - 10px);
    background-color: rgb(21, 23, 40);
    overflow: auto;
}

.fins-params-wrap {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 15px;
    padding: 15px 0;
}

.pins-params-container {
    margin-top: 10px;
    height: calc(30% - 10px);
    background-color: rgb(21, 23, 40);
    overflow: auto;
}

.pins-params-wrap {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 15px;
    padding: 15px 0;
}

.button-container {
    margin-top: 10px;
    height: 10%;
    background-color: rgb(21, 23, 40);
    padding-top: 20px;
    overflow: auto;
}