.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.label {
    text-align: right;
    margin-right: 10px;
    font-size: 80%;
}

.container > input {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid #ccc;
    width: 80%;
    text-align: center;
    color: #fff;
}
